body {

    background-color: #FFE8D6;
}

img {
    margin: auto;
    display: flex;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}